/* Reset CSS */
/* Box sizing rules */
*,
::before,
::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Reset heights */
h1,
h2,
h3,
h4,
h5,
h6 {
  height: auto !important;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

.nav-primary {
  display: inline-block;
  color: black;
  text-decoration: none;
  background-color: transparent;
  font-size: 1.5rem;
  padding: 0.3rem 1rem;
}

.nav-primary:hover,
.router-link-active {
  background-color: rgb(238, 238, 238);
  padding: 0.3rem 1rem;
  border-radius: 1.3rem;
}

.link-primary {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  font-size: 1rem;
}

.link-primary:hover {
  text-decoration: underline;
}

.btn-primary {
  display: inline-block;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
